.delete_post_div{
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    border: 2px solid black;
    background-color: mistyrose;
    padding: 5px;
    border-radius: 5px;
}

.delete_text_show{
    border: 1px solid black;
    height: 250px;
    overflow-y: scroll;
    padding: 5px;
    background-color: rgb(242, 252, 255);
}