#forums_main_header{
  width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
  color: blue;
  text-align: center;
}
#create_new_sub_topic{
  margin-bottom: 20px;
}

#navigation{
  width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 25px;
  padding: 5px;
  background-color: lightyellow;
}

#create_new_sub_topic_div{
  width: 500px;
  height: 500px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: lightgreen;
  position: absolute;
  left: 1em;
  top: 1em;
  padding: 10px;
  display: none;
}

.red_text{
  color:red;
}

#forum_container{
  background-color: #e6ffe6;
  width: 850px;
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 0 auto;
}

#new_topic_container_btn{
  width: 850px;
  border-radius: 25px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
}

#new_topic_container{
  width: 850px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: lightyellow;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
  display: none;
}

#close_button{
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 15px;
  float: right;
}

.explanation_mark{
  font-size: 30px;
  color: red;
}