#forums_main_header{
    width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: blue;
    text-align: center;
  }  

.forum_post{
    width: 800px;
    height: 250px;
    margin: 0 auto;
    border: 2px solid black;
    background-color: #fafafa;
    margin-bottom: 5px;
    border-radius: 5px;
}

#navigation{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;
    background-color: lightyellow;
  }

.post_name_header{
    width: 400px;
    height: 25px;
    float: left;
}

.heading_blue{
    width: 796px;
    height: 40px;
    background-color: lightblue;
    padding: 5px;
}

.heading_orange{
    width: 796px;
    height: 40px;
    background-color: orange;
    padding: 5px;
}

.new_post{
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    border: 2px solid black;
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
}

.show_topic_text{
    height: 200px;
    margin: 5px;
    overflow-y: scroll;
}

.edit_post_container{
    float: right;
    width: 120px !important;
    height: 40px !important;
}

.tooltip-inner {
    white-space: pre-wrap;
    min-width: 100px;
}